/* sets the root colours for the home.css */
:root {
  --dark: #07434e;
  --light: #769fa0;
  --green: #d6cd28;
}
/* sets the properties for the body element */
body {
  background-image: radial-gradient(var(--dark) 0.5px, whitesmoke.5px);
  background-size: 10px 10px;
  background-color: whitesmoke;
  font-family: "Kanit", sans-serif;
  flex: 1;
  margin: auto 0;
  height: 100vh;
  overflow-y: scroll;
}
/* sets the colour for .fa */
.fa {
  color: var(--green);
}
/* sets the colour for .fa-plus */
.fa-plus {
  color: var(--dark);
}

/* sets the properties for the sidebar class */
.sidebar {
  margin-top: 0.5em;
  width: 0;
  height: 10%;
  background-color: whitesmoke;
  border: 0.05em solid var(--dark);
  transition: 1s ease;
  position: fixed;
  z-index: 1;
  padding-top: 1.8em;
}
/* sets the properties for the button-link class */
.button-link {
  font-family: "Kanit", sans-serif;
  font-size: 1.2em;
  width: 0;
  height: 0;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  color: var(--green);
  border: none;
  border-radius: 1em;
  transition-delay: 0.2s;
  transition: 0.6s;
}

/* sets the cursor when hovering over the link button */
.button-link-visible {
  background-color: var(--dark);
  cursor: pointer;
  width: 10em;
  height: 2em;
}

.button-link-visible:hover {
  background-color: var(--light);
  cursor: pointer;
}

/* sets the width of the sidebar id */
.sidebar-large {
  width: 17em;
}
/* sets the properties for the side-btn class */

#side-btn {
  position: absolute;
  border: none;
  height: 80px;
  width: 80px;
  border: 0.4em solid var(--green);
  border-radius: 50%;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.3);
  left: 100%;
  top: 0.6em;
  transform: translateX(-50%);
  cursor: pointer;
}
/* sets the properties for the header element */
header {
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  color: whitesmoke;
  width: 100%;
  text-align: center;
  padding: 0;
  margin-bottom: 1em;
  font-size: 1.5em;
  border-bottom: 0.25em solid var(--green);
}
/* sets the text for the container class */
.container {
  text-align: center;
}
/* sets the properties for the submit-search id */
.submit-search {
  background-color: var(--green);
  margin: 2em 1.5em;
  border: 0.06em solid var(--dark);
  padding: 1.5em;
  box-shadow: 0px 0px 20px #888888;
}
/* sets the properties for the myCity class */
#myCity {
  width: 90%;
  height: 3em;
  margin-bottom: 0.5em;
  font-size: 1em;
  text-align: center;
  border: 0.01em solid var(--dark);
  border-radius: 2em;
  font-family: "Kanit", sans-serif;
  box-shadow: 1px 2px 10px #847f26;
}
/* sets the properties for the submit class */
#submit {
  background-color: var(--light);
  padding: 0.3em 2em;
  border: 0.05em solid var(--dark);
  border-radius: 2em;
  color: #053138;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  box-shadow: 2px 3px 10px #847f26;
}
/* sets what happens when the user hovers over the submit button */
#submit:hover {
  background-color: var(--dark);
  color: whitesmoke;
  cursor: pointer;
}
/* sets the text properties for the pages h2 */
h2 {
  color: var(--green);
  background-color: var(--dark);
  font-size: 2.3em;
  padding: 0.1em;
}
/* sets the properties for the top-cities id */
.top-cities {
  margin: 2em 1.5em 5em 1.5em;
  background-color: var(--light);
  padding-bottom: 0.2em;
  min-height: 30em;
  box-shadow: 3px 3px 20px #888888;
}
/* sets slide arrow id display to none */
.slide-arrow {
  display: none;
}
/* sets the position and margin for the card id */
.card {
  position: relative;
  margin: 2em auto;
}
/* sets the properties for the text-overlay id */
.text-overlay {
  position: absolute;
  left: 6.8%;
  margin-top: 7.6em;
  background-color: var(--dark);
  padding: 0.5em 1.9em;
  color: whitesmoke;
  border-radius: 0.5em;
  border: 0.2em solid var(--green);
}
/* sets the properties for the city image id */
.city-img {
  display: block;
  height: 13em;
  width: 90%;
  margin: auto;
  border: 0.3em solid var(--light);
}
/* sets what happens when the user hovers over the image in the city image id */
.city-img:hover {
  border: 0.3em solid var(--green);
}

#prev-btn,
#next-btn {
  display: none;
}

/* sets the properties for the footer element */
footer {
  background-color: var(--dark);
  height: 3em;
  text-align: center;
  color: var(--light);
}
/* makes the page responsive */
@media (min-width: 768px) {
  .submit-search {
    margin: auto;
    width: 50%;
  }

  /* sets the properties for the city card id */

  .top-cities {
    min-height: 22em;
  }
  .city-cards {
    display: block;
    transition: 0.3s;
    text-align: center;
    width: 100%;
  }
  /* sets the properties for the card id */
  .card {
    width: 80%;
  }

  /* sets the properties for the buttons on the carousel */
  #prev-btn,
  #next-btn {
    display: block;
    position: absolute;
    width: auto;
    margin-top: 3em;
    padding: 0.5em;
    background-color: whitesmoke;
    color: var(--green);
    font-size: 1.5em;
    user-select: none;
    border-radius: 50%;
    border: 0.1em solid #053138;
  }
  /* sets the placement of the next-btn class */
  #next-btn {
    right: 2.8em;
  }
  /* sets the placement of the prev-btn class */
  #prev-btn {
    left: 2.8em;
  }
  /* sets what happens when the user hovers over the next button */
  #next-btn:hover {
    background-color: var(--dark);
    color: whitesmoke;
    cursor: pointer;
  }
  /* sets what happens when the user hovers over the prev button */
  #prev-btn:hover {
    background-color: var(--dark);
    color: whitesmoke;
    cursor: pointer;
  }
}
/*makes the page responsive */
@media (min-width: 992px) {
  /* sets the properties for the card class */
  .card {
    width: 80%;
  }
  .city-img {
    height: 22em;
  }
  .text-overlay {
    margin-top: 11.2em;
    padding: 0.4em 2.5em;
    font-size: 1.5em;
  }
  #prev-btn,
  #next-btn {
    margin-top: 5.8em;
  }
  /* sets the placement of the next-btn class */
  #next-btn {
    right: 4em;
  }
  /* sets the placement of the prev-btn class */
  #prev-btn {
    left: 4em;
  }
}

@media (min-width: 1600px) {
  .city-img {
    height: 30em;
  }
  .text-overlay {
    margin-top: 14em;
    padding: 0.4em 2.5em;
    font-size: 1.7em;
  }
  #prev-btn,
  #next-btn {
    margin-top: 9em;
  }
  /* sets the placement of the next-btn class */
  #next-btn {
    right: 6.5em;
  }
  /* sets the placement of the prev-btn class */
  #prev-btn {
    left: 6.5em;
  }
}
